.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FF4136;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.icon-movie{
    transform: scale(2);
    color: black;
}


.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item a {
    color: white;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.list-item a:hover,
.list-item a.active {
    background-color: #1d1d1d;
    color: white;
}



/* -------------------------------------------{RESPONSIVE STYLING}-------------------------------------------- */

@media screen and (max-width: 500px) {
    .navbar {
        height: 56px;
        width: 95%;
        margin: auto;
        top: 0;
        left: 0;
        background-color: #FF4136;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

}
