.cnt {
    padding-top: 10px;
}

.movieItem{
    display: flex;
    flex-direction: row;
    width: 50%;
    min-width: 400px;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
}

.movieItem:hover{
   background-color: #FF4136;
   transition: all 0.3s ease 0s;
}


.titleBuscador{
    text-align: center;
    color: #FF4136;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    color: #555;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 7px 30px 8px;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.btn:focus{ color: #FF4136; }
.btn:hover{
    color: #FF4136;
    background: #FF4136;
    box-shadow: 0 0 5px rgba(0,0,0,0.1),3px 3px #fff,6px 6px #FF4136;
}
.btn:before{
    content: '';
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 500px) {
    .movieItem{
        display: flex;
        flex-direction: row;
        width: 85%;
        min-width: 100px;
        margin: auto;
        padding: 8px;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px;
        margin-bottom: 5px;
        color: white;
        font-size: 18px;
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 7px;
        align-items: stretch;
    }

    .movieItem > span{
        margin-right: 5px;
    }

    
}